.js-calendar-graph-svg{height:126px;padding:5px 0 0;text-align:center}
.js-calendar-graph-svg.days-selected rect.day{opacity:0.5}
.js-calendar-graph-svg.days-selected rect.day.active{opacity:1}
.js-calendar-graph-svg .dots{width:64px;height:64px;margin:20px auto 0}
.js-calendar-graph-svg text.month{font-size:10px;fill:#767676}
.js-calendar-graph-svg text.wday{font-size:9px;fill:#767676}
