---
layout: default
---

<script language="javascript">
function getAjax(url, success) {
    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
    xhr.open('GET', url);
    xhr.onreadystatechange = function() {
        alert(xhr.status);
        if(xhr.readyState > 3 && xhr.status == 200) {
          success(xhr.responseText);
        }
    };
    
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.send();
    
    return xhr;
}

xhr = getAjax("https://github.com/wangziqi2013", 
              function(text) {
                alert(text);
                return;
              }
      );
</script>

<div id="filter_div" align="left">
  Filter Keyword
  <input type="text" id="input_filter">
  <button type="button" onClick="filter_post('category', getElementById('input_filter').value.toLowerCase())">Category</button>
  <button type="button" onClick="filter_post('title', getElementById('input_filter').value.toLowerCase())">Title</button>
  <button type="button" onClick="filter_post('keyword', getElementById('input_filter').value.toLowerCase())">Keyword</button>
  {% for my_page in site.pages %}
    {% if my_page.title == "About" %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl | append: '#search_help' }}">Search Help</a>
    {% endif %}
  {% endfor %}
  <br /><br />
</div>

<hr /><br />

<div class="home">
  <h1 class="page-heading">Top Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.ontop == true %}
        <li class="post_item" data-category="{{ post.categories }}" data-title="{{ post.title }}" data-keyword="{{ post.paper_keyword }}">
          <span class="post-meta">
            <strong>[Top]</strong>
            {% if post.layout == "paper-summary" %}
              <strong>[Paper Review]</strong>
            {% endif %}
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.paper_year %}
              , Paper published in {{ post.paper_year }}
            {% endif %}
          </span>

          <h2 style="display: inline">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          
          {% if post.layout == "paper-summary" %}
            <strong>Keyword: </strong> {{ post.paper_keyword }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    <hr />
    <br />
    <h1 class="page-heading">Posts</h1>
    {% for post in site.posts %}
      {% if post.ontop != true %}
        <li class="post_item" data-category="{{ post.categories }}" data-title="{{ post.title }}" data-keyword="{{ post.paper_keyword }}">
          <span class="post-meta">
            {% if post.layout == "paper-summary" %}
              <strong>[Paper Review]</strong>
            {% endif %}
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.paper_year %}
              , Paper published in {{ post.paper_year }}
            {% endif %}
          </span>

          <h2 style="display: inline">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          
          {% if post.layout == "paper-summary" %}
            <strong>Keyword: </strong> {{ post.paper_keyword }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <p class="rss-subscribe">Switch to <a href="{{ "/index-small.html" | prepend: site.baseurl }}">Small</a></p>

</div>
