---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
          {% if post.layout == "paper-summary" %}
            <strong>[Paper Review]</strong>
          {% endif %}
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.paper_year %}
            , Paper published in {{ post.paper_year }}
          {% endif %}
      </span>

        <h2 style="display: inline">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {% if post.layout == "paper-summary" %}
          <strong>Keyword: </strong> {{ post.paper_keyword }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
