---
layout: default
---

<script language="javascript"> 
  function filter_post(post_type, filter_text) {
    var posts = document.getElementsByClassName("post_item");
    for(var i = 0;i < posts.length;i++) {
      post = posts[i];
      if(post_type == "category") {
        s = post.getAttribute("data-category");
      } else if(post_type == "title") {
        s = post.getAttribute("data-title");
      } else if(post_type == "keyword") { 
        s = post.getAttribute("data-keyword");
      } else {
        alert("Invalid type! (Internal error)");
        return;
      }

      if(s.toLowerCase().indexOf(filter_text) == -1) {
        post.style.display = "none";
      } else {
        post.style.display = "block";
      }
    }

    return;
  }
</script>

<div id="filter_div" align="right">
  Filter By
  <input type="text" id="input_filter">
  <button type="button" onClick="filter_post('category', getElementById('input_filter').value.toLowerCase())">Category</button>
  <button type="button" onClick="filter_post('title', getElementById('input_filter').value.toLowerCase())">Title</button>
  <button type="button" onClick="filter_post('keyword', getElementById('input_filter').value.toLowerCase())">Keyword</button>
  <br /><br />
</div>

<div class="home">
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post_item" data-category="{{ post.categories }}" data-title="{{ post.title }}" data-keyword="{{ post.paper_keyword }}">
        <span class="post-meta">
          {% if post.layout == "paper-summary" %}
            <strong>[Paper Review]</strong>
          {% endif %}
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.paper_year %}
            , Paper published in {{ post.paper_year }}
          {% endif %}
        </span>

        <h2 style="display: inline">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {% if post.layout == "paper-summary" %}
          <strong>Keyword: </strong> {{ post.paper_keyword }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
