---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <strong>[Paper Review]</strong>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} 
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <script language="javascript"> 
    function toggle(elementId, aId) {
      var ele = document.getElementById(elementId);
      var a = document.getElementById(aId);
      
      if(ele.style.display == "block") {
        ele.style.display = "none";
        a.innerHTML = "+ Show" + a.innerHTML.slice(6);
      } else {
        ele.style.display = "block";
        a.innerHTML = "- Hide" + a.innerHTML.slice(6);
      }
    } 
  </script>

  <div class="post-content" itemprop="articleBody">
    <hr />
    <br />
    <a id="a_paper_metadata" href="javascript:toggle('paper_metadata', 'a_paper_metadata')">- Hide Paper Summary</a><br />
    <div id="paper_metadata" style="display:block">
      <strong>Paper Title: </strong> <ins>{{ page.paper_title }}</ins> <br />
      <strong>Link: </strong> <a href="{{ page.paper_link }}">{{ page.paper_link }}</a> <br />
      <strong>Year: </strong> {{ page.paper_year }} <br />
      <strong>Keyword: </strong> {{ page.paper_keyword }} <br />
      <br />
    </div>
      
    {% if page.htm_cd or page.htm_cr or page.version_mgmt or page.rw_set %}
        <a id="a_htm_metadata" href="javascript:toggle('htm_metadata', 'a_htm_metadata')">- Hide HTM Summary</a><br />
    {% endif %}

    <div id="htm_metadata" style="display:block">
      {% if page.htm_cd %}
        <strong>Conflict Detection: </strong> {{ page.htm_cd }}<br />
      {% endif %}

      {% if page.htm_cr %}
        <strong>Conflict Resolution: </strong> {{ page.htm_cr }}<br />
      {% endif %}

      {% if page.version_mgmt %}
        <strong>Version Management: </strong> {{ page.version_mgmt }}<br />
      {% endif %}

      {% if page.rw_set %}
        <strong>R/W Bookkeeping: </strong> {{ page.rw_set }}<br />
      {% endif %}
    </div>

      {% if page.htm_cd or page.htm_cr or page.version_mgmt or page.rw_set %}
        <br />
      {% endif %}

      <hr />
      <br />

    {{ content }}
  </div>

</article>